<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
</head>
<body>
	<h4>
		<font color="green">User Login </font>
	</h4>

	<font color="red"><p th:text="${session.message}"
			th:unless="${session == null}">[...]</p> </font>

	<form name="userForm" id="userForm" action="#"
		th:action="@{/loginuser}" th:object="${user}" method="post">

		<table>
			<tr>
				<td>User Name</td>
				<td><input type="text" th:field="*{name}" placeholder="Name" />
				</td>
			</tr>

			<tr>
				<td>Password</td>
				<td><input type="password" th:field="*{password}"
					placeholder="Password" /></td>
			</tr>
		</table>
		<input type="submit" value="login" /> <br />
		<br /> <a href="#" th:href="@{'/registration'}">New User? Register
			Here</a>
	</form>
</body>
</html>