<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Projects List</title>
</head>
<body>

	<a href="#"
		th:href="@{'/organizations/'+${organizationId}+'/projects/new'}">New
		Project</a>

	<br />
	<h4>
		<font color="green"> Projects List </font>
	</h4>

	<table>
		<tr th:each="projectName : ${projectNames}">

			<td th:text="${projectName.name}"></td>

			<td><a href="#"
				th:href="@{'/organizations/'+${organizationId}+'/projects/'+${projectName.id}+'/tasks'}">Tasks</a></td>
		</tr>
	</table>


</body>
</html>